# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Vscode
.vscode

# Vs2017
.vs
Debug

# CMake build
build

# Mkdocs
site

#
/mongodriver
/boost/vcpkg-export-20171010-163718
/mongodriver.rar
/boost.7z


#conf
conf
ctpMarketDataCollector.rar
